@using AuthenticationAndAuthorization.Models
@model AuthenticationAndAuthorization.Models.UserLoginModel
@{
    ViewBag.Title = "UserRegistrationDetails";
}


<h2 style="color: green; margin-top:60px; text-align: center">Welcome In User Registration Details Page</h2>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div id="login-div" style="background-color:lavender;border:2px solid groove;">
    @using (Html.BeginForm(FormMethod.Post))
    {
 <table>
                    <tr>
                        <td class="form-control-lable" style="text-align:right; font-size:large; font-weight:bold">
                            @Html.LabelFor(model => model.UserName)

                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(modle => modle.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td class="form-control-lable" style="text-align:right; font-size:large; font-weight:bold">
                            @Html.LabelFor(model => model.UserEmail)

                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(modle => modle.UserEmail)
                        </td>
                    </tr>
                    <tr>
                        <td class="form-control-lable" style="text-align:right; font-size:large; font-weight:bold">
                            @Html.LabelFor(model => model.Password)

                        </td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(modle => modle.Password)
                        </td>
                    </tr>
                    <tr>
                        <td class="form-control-lable" style="text-align:right; font-size:large; font-weight:bold">
                            @Html.LabelFor(model => model.Role)

                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            @Html.ValidationMessageFor(modle => modle.Role)
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <label id="lbl_AuthError" class="field-validation-error">@Html.DisplayFor(Model => Model.LoginErrorMessage)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btn-btn-success" name="name" value="Registred" id="submit" />
                            @Html.ActionLink("UserRegistration", "UserRegistration")

                        </td>
                    </tr>

                </table>
                }
            </div>
        </div>

    </div>
</body>


